.sidebar
  h3
    a(href="#")  
      span.mainColor U
      |ltimate 
      span.mainColor B
      |io 
     
  i.fas.fa-times
  .clear
  
  ul.list-unstyled.sidebar-pages-menu
    li 
      a(href="#")
        i.fas.fa-home.main-links-icn
        |Home
    li 
      a(href="#")
        i.fas.fa-id-card.main-links-icn
        |Reviewes
        i.fas.fa-angle-right
      ul.list-unstyled.sidebar-subPages-menu
        li 
          a(href="#") Films
        li 
          a(href="#") series
        li 
          a(href="#") anime

    li 
      a(href="#")
        i.fas.fa-id-card.main-links-icn
        |Articels &amp; Lists
        i.fas.fa-angle-right
      ul.list-unstyled.sidebar-subPages-menu
        li 
          a(href="#") textarea
        li 
          a(href="#") input
        li 
          a(href="#") check box
      
      
  ul.list-unstyled.sidebar-settings-menu
    li Dark mode
      span.dark-btn
        span.toggle-btn-front
        span.toggle-btn-back
        
    li 
      a(href="#") your favourites
    li
      a(href="#") about us
    li
      a(href="#") help