.sidebar
  h3 
    span.mainColor U
    |ltimate 
    span.mainColor B
    |io 
  //#{brandName}
  
  i.fas.fa-times
  .clear
  
  ul.sidebar-pages-menu
    li 
      a(href="#") Home
    li 
      a(href="#") Biographies
    li 
      a(href="#") islamic Bios
    li 
      a(href="#") Battles
    li 
      a(href="#") rock history
    li 
      a(href="#") cinema history
      
      
  ul.sidebar-settings-menu
    li Dark mode
      span.dark-toggle
        span.toggle-btn-front
        span.toggle-btn-back
        
    li 
      a(href="#") your favourites
    li
      a(href="#") about us
    li
      a(href="#") help
      
      
      
        
        
        