.sidebar.show-sidebar
  h1
    a(href="#")  
      span.mainColor S
      |alem 
      span.mainColor T
      |o - do
    
  i.fas.fa-times
  .clear
  
  ul.list-unstyled.sidebar-pages-menu
    li 
      a(href="#" class="")
        i.fas.fa-home.main-links-icn
        |Today

    li 
      a(href="#")
        i.fas.fa-id-card.main-links-icn
        |To-Do Lists
        i.fas.fa-angle-right
      ul.list-unstyled.sidebar-subPages-menu
        li 
          a(href="inbox.html") VIP To-Do
        li 
          a(href="ToDoList1.html") Simple Todo
        li.arc
          a(href="#") Archive
      
      
  ul.list-unstyled.sidebar-settings-menu
    li Dark mode
      span.dark-btn.dark-toggle
        span.toggle-btn-front
        span.toggle-btn-back
        
    li 
      a(href="#") your favourites
    li
      a(href="#") about us
    li
      a(href="#") help