.sidebar.show-sidebar
  h1
    a(href="#")  
      span.mainColor U
      |ltimate 
      span.mainColor N
      |ote
    
  i.fas.fa-times
  .clear
  
  ul.list-unstyled.sidebar-pages-menu
    li 
      a(href="#" class="active")
        i.fas.fa-home.main-links-icn
        |Today
    li 
      a(href="#")
        i.fas.fa-id-card.main-links-icn
        |Notes
        i.fas.fa-angle-right
      ul.list-unstyled.sidebar-subPages-menu
        li 
          a(href="#") Lable 1
        li 
          a(href="#") Lable 2
        li 
          a(href="#") Lable 3
        li 
          a(href="#") Lable 4
        li 
          a(href="#") Lable 5
        li 
          a(href="#") Lable 6                    
        li 
          a(href="#") Lable 7                   
        li 
          a(href="#") Lable 8                    
        li 
          a(href="#") Lable 9                    
        li 
          a(href="#") Lable 10                    


    li 
      a(href="#")
        i.fas.fa-id-card.main-links-icn
        |To-Do Lists
        i.fas.fa-angle-right
      ul.list-unstyled.sidebar-subPages-menu
        li 
          a(href="#") Inbox
        li 
          a(href="#") Today
        li 
          a(href="#") Archive
      
      
  ul.list-unstyled.sidebar-settings-menu
    li Dark mode
      span.dark-btn.dark-toggle
        span.toggle-btn-front
        span.toggle-btn-back
        
    li 
      a(href="#") your favourites
    li
      a(href="#") about us
    li
      a(href="#") help