@import 'sass/vars/lrvars';
@import 'sass/vars/colors';
@import 'sass/vars/transitions';
@import 'sass/helpers/mixins';


@import 'sass/components/global';
@import 'sass/components/headings';
@import 'sass/components/text';
@import 'sass/components/_to-do-list-app1.scss';
@import 'sass/components/_Dayplanner.scss';
@import 'sass/components/_archivepage.scss';

@import 'sass/layout/header';
@import 'sass/layout/sidebar';

@import 'sass/pages/inboxpage';