.content-area {
  .header{
    .toggle-sidebar {
      font-size: 1.5rem;
      cursor: pointer;
      margin: 5px 0;
    }

    >input{
      border: none;
    }

    .notifications-bell{
      .fa-bell{
        margin: 11px 0;
        cursor: pointer;
      }
      .dropdown-menu{
        padding: 10px 15px;
        margin: 0;
        margin-top: 7px;
        color: #fff;
        background-color: #394362;
        left: 40px !important;
        min-width:300px;
        .drop-header{
          color: #fff;
          white-space: nowrap;
          display: block;
          span{
            letter-spacing: .05rem;
          }
          a{
            float: $right;
            color: $mainColor;
            font-size: .9rem;
            &:hover{
              color: $mainColor;
            }
          }
        }
        .drop-content{
          padding: 10px 0;
        }
      }
    }

    .settings{
      .fa-cog{
        cursor: pointer;
        margin: 11px 0;
      }
      .dropdown-menu{
        padding: 0;
        left: 40px !important;
      }
    }
  }
}
