.content-area {
  .header{
    .toggle-sidebar {
      font-size: 1.5rem;
      cursor: pointer;
    }
    >input{
      display: inline;
      width: 45%;
      margin-left: 3%;
      border: none;
    }
    .notifications-bell{
      .fa-bell{
        color: #fff;
      }
    }
  }
}
