.page {
  .sidebar {
    overflow-y: scroll;
    position: fixed;
    height: 100%;
    left: -250px ; 
    top: 0;
    width: 250px;
    padding: 15px;
    color: #fff;
    background-color: $light-blue;
    transition: $text-hover;
    z-index: 11;
    &.show-sidebar{
      left:0;
    }
    
    h1{
      font-size: 1.75rem;
      float: $left;
      a, a:hover{color:#fff}
    }
    
    .fa-times {
      cursor: pointer;
      font-size: 20px;
      float: $right;
      @include text-hover();
    }
    
    .sidebar-pages-menu{
      padding: 30px 30px 15px 10px;
      margin: 0;
      margin-bottom: 20px;

      //All Links
      li{
        padding: 5px 0;
        position: relative;
        @include text-hover();
        &:hover{
          a{color: $mainColor;}
        }
        a {
          transition: $text-hover;
          color: #fff;
          display: block;
          .main-links-icn{
            padding-right:7px ;
          }
          &.active{color: $mainColor;}
        }

        //Sub Links
        .sidebar-subPages-menu{
          display: none;
          padding-top: 10px;
          li{
            padding-left: 20px;
            border-left: 3px solid $greyColor;
            &:hover{
              border-left: 3px solid $mainColor;
              a{color: $mainColor;}
            }
            a{
              color:$greyColor;
            }
          }
        }

        //last sub menu open by defult
        &:last-of-type{
          .sidebar-subPages-menu{
            display: block;
          }
        }
      }

      //main Links
      > li{
        padding: 10px 0;
        a{
          .fa-angle-right{
            transition: .4s transform ease-in-out;
            float: $right;
            top: 5px;
            position: relative;
            &.toggle-subPages{
              transform: rotate(90deg);
            }
          }
        }
      }
    }
    
    
    ul.sidebar-settings-menu{
      @extend .sidebar-pages-menu;
      padding-top: 0px;
      li {
        //Dark mode button settings
        span.dark-btn {
          cursor: pointer;
          background-color: $grey-bg;
          width: 40px;
          height: 20px;
          position: absolute;
          top: 12px;
          right: 35px;
          border-radius: 10px;

          .toggle-btn-front, .toggle-btn-back {
            position: absolute;
            background-color: $mainColor;
            height: 100%;
            width: 50%;
            border-radius: 10px;
            border: 1px solid $divider;
            float: $left;
            transition: .5s all ease-in-out;
          }
          .toggle-btn-front{right: 20px;}
          .toggle-btn-back {
            background-color: $sub-mainColor;
            left: 0;
            z-index: -1;
          }

          &.dark-toggle{
            .toggle-btn-back{width: 100%;}
            .toggle-btn-front{right: 0;}
          }
        }
      }
    }
  }
}











