include pug/vars/identity.pug
doctype html
html(lang="en")
  head 
    include pug/layout/meta
    title archive
    include pug/layout/styles

  body
    //Start Inboxpage
    .page.archivepage

      //Start Sidebar
      include pug/layout/sidebar
      
      //Start Content-Area 
      .content-area.show-sidebar
        include pug/layout/header
        .container
          .content
            .arch-tasks
            

            
    
    
    include pug/layout/scripts.pug