include pug/vars/identity.pug
doctype html
html(lang="en")
  head 
    include pug/layout/meta
    title Inbox
    include pug/layout/styles

  body
    //Start Inboxpage
    .page.inboxpage

      //Start Sidebar
      include pug/layout/sidebar
      
      //Start Content-Area 
      .content-area.show-sidebar
        include pug/layout/header
        .container
          .content
            include pug/components/to-do-list
            

            
    
    
    include pug/layout/scripts.pug