include pug/vars/identity.pug
doctype html
html(lang="en")
  head 
    include pug/layout/meta
    title #{brandName}
    include pug/layout/styles
    
  body
    //Start HomePage
    .page.homepage

      //Start Sidebar
      include pug/layout/sidebar
      
      //Start Content-Area 
      .content-area.show-sidebar
        include pug/layout/header
        .container
          include pug/components/archivepage.pug
          .content
            h1 #{brandName}
            
    
    
    include pug/layout/scripts.pug