include pug/vars/identity.pug
doctype html
html(lang="en")
  head 
    include pug/layout/meta
    include pug/layout/styles
    
    
  body
    //Start Home Page
    .page.homepage
    
      //Start Sidebar
      include pug/layout/sidebar
      //End Sidebar
      
      //Start Content Area
      .content-area.show-sidebar
          //.container
          //Full Screen Overlay div
          .full-scrn-overlay
          include pug/layout/header
          .content
            h1 #{brandName}
      //End Content Area
      
    //End Home Page
    
    
    
    include pug/layout/scripts.pug