include pug/vars/identity.pug
doctype html
html(lang="en")
  head 
    include pug/layout/meta
    title Simple To-Do
    include pug/layout/styles

  body
    //Start Inboxpage
    .page.Todo1page

      //Start Sidebar
      include pug/layout/sidebar
      
      //Start Content-Area 
      .content-area.show-sidebar
        include pug/layout/header
        .container
          .content
            include pug/components/to-do-list-app1
            

            
    
    
    include pug/layout/scripts.pug