$mainColor : #88cb5e;
$sub-mainColor : #348801;

$sidebar-bg : #394362;
$body-bg : #eaedf1;

$grey-bg : rgba(154, 154, 154, 0.62);
$greyColor : rgba(239, 239, 239, 0.986);
$divider : rgba(209, 209, 209, 0.67);
