* {
  font-family: Impact Regular; //for paragraphs
  font-family: Franklin Gothic; //for main heading
}


//Main Classes
.clear {clear: both;}
.mainColor {color: $mainColor}


//ScrollBar
::-webkit-scrollbar {width: 7px;}
::-webkit-scrollbar-track {background: #394362;}
::-webkit-scrollbar-thumb {background: $mainColor;}
::-webkit-scrollbar-thumb:hover {background:#88cb5e ;}


// Global Elemnts Set
body {
  height: 3000px; //Temporary
  background-color: $white-bg;
}

a{
  transition: .4s color ease-in-out;
  &:hover, &:focus{text-decoration: none;}
}


//Page, Content area
.page {
  .content-area {
    position: relative;
    min-height: 100vh;
    float: $right;
    padding:20px 30px ;
    transition: .3s;
    will-change: width;
    width: 100%; //edit this to... calc(100% - 250px)
    &.show-sidebar{
      width: calc(100% - 250px);
    }

    .content{
      margin-top: 25px;
      padding: 5px 20px;
      h2{
        margin-top: 15px;
        margin-bottom: 7px;
      }
    }
    
  }
}
