* {
  font-family: Impact Regular; //for paragraphs
  font-family: Franklin Gothic; //for main heading
}

body {height: 3000px;}

a{transition: .4s color ease-in-out;}

a:hover, a:focus {text-decoration: none;}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}

.clear {clear: both;}

.mainColor {color: $mainColor}



.page {
  min-height: 100vh;

  .content-area {
    transition: .3s;
    position: relative;
    
    .full-scrn-overlay {
      position: fixed;
      background-color: rgba(0, 0, 0, .4);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      display: none;
      transition: 1s all ease-in-out;
    }
    
    .show-sidebar {
      font-size: 20px;
      cursor: pointer;
    }
  }
}
