* {
  font-family: Impact Regular; //for paragraphs
  font-family: Franklin Gothic; //for main heading
}

body {
  height: 3000px;
  background-color: $body-bg;
}

//ScrollBar
::-webkit-scrollbar {width: 7px;}
::-webkit-scrollbar-track {background: #394362;}
::-webkit-scrollbar-thumb {background: $mainColor;}
::-webkit-scrollbar-thumb:hover {background:#88cb5e ;}

a{transition: .4s color ease-in-out;}

a:hover, a:focus {text-decoration: none;}

.clear {clear: both;}

.mainColor {color: $mainColor}

.page {
  .content-area {
    position: relative;
    min-height: 100vh;
    float: $right;
    padding:20px 30px ;
    transition: .3s;
    will-change: width;
    width: 100%; //edit this calc(100% - 250px)
    &.show-sidebar{
      width: calc(100% - 250px);
    }
    .full-scrn-overlay {
      position: fixed;
      background-color: rgba(0, 0, 0, .4);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      display: none;
      transition: 1s all ease-in-out;
    }
  }
}
