.to-do-list{
  h2{

  }
  
  .txtb{
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    width: 70%;
  }
  
  >div{
    margin: 30px 0;
    padding: 5px 10px;
  }

  .task{
    margin-bottom: 20px;
    .task-title{}
    color:#000;
    font-size: 1.1rem;
    padding: 15px 25px;
    background-color: #fff;
    overflow: hidden;
    i{
      cursor: pointer;
      float: $right;
      margin-left: 20px;
      color: $mainColor;
    }
  }

  .to-do-tasks{
    .div2{border: 1px solid #000; width: 20px; height: 50px;}
    // .pomo-tasks{display:inline;}
    .new-pomo{
      cursor: pointer;
      margin: 0px 5px;
      display: inline;
      border-radius: 20%;
      background-color: #394362;
      color: #ffffff;
      padding: 7px 11px;
    }
  }

  .comp-tasks{
    .task{
      background-color: $light-blue;
    }
  }
}