.tasks-list
  h5 oday's Tasks
  input(type="text" class="add-task" placeholder="Add Your Task Here... (Max 3)")
  .to-do-tasks
    h4 tasks to do
  .comp-tasks

  .Today-sessions
    .work-session
      i.fas.fa-plus-circle
    .work-session
      p Do Something Funny
    .work-session
      i.fas.fa-plus-circle
    .work-session
      p Do Something Funny
    .work-session
      i.fas.fa-plus-circle
    .work-session
      p Do Something Funny
    .work-session
      i.fas.fa-plus-circle
      