.to-do-list
  h2 Inbox
  input(type="text" class="txtb" placeholder="Add Your Task Here...")
  .to-do-tasks
    h3 tasks to do
    .pomo-tasks
      i.fas.fa-plus-circle
      .new-pomo
        span 25:00
        

  .comp-tasks
    h3 completed tasks